/* styles.css */



/* header section */
.grey-rectangle {
    background-color: #B1B1B1; 
    padding: 20px; 
    font-size: 20px; 
}

.grey-rectangle .contact-info {
    font-size: 16px;
}

.welcome-message {
    font-size: 22px;
    font-weight: bold;
}
.contact-info {
    font-size: 15px;
}


/* Navbar section */

.white-rectangle {
    background-color: #FFFFFF; 
}
.main-image1 {
    max-width: 350px;
    max-height: 350px;

}

nav.navbar {
    background-color: #d3d3d3; /* Light grey */
} 
.navbar-light .navbar-nav .nav-link {
    color: #343a40;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-light .navbar-nav .btn-success {
    background-color: #68B691;
}

.navbar-light .navbar-nav .btn-success:hover {
    background-color: #4d9372;
}

/* Main page section */
.main-image {
    width: 100%;
    height: auto;
}

.buttongs{
    background-color: #D9D9D9;
    min-height: 55px;
    border-color: #000000;
}


/* About us section */

.about-section {
    background-color: #f0f8f8;
    padding: 20px;
}

.about-text {
    padding: 50px;
}

/* Location  section */

#location-section .left-align {
    text-align: left;
}


/* Services  section */
.services-header {
    margin-bottom: 30px;
}

.card-body {
    height: 100%;
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding:35px;
    margin:10px;
}

.col-md-4 {
    border-radius: 50px;
    display: flex;
    padding-right: 15px; 
    padding-left: 15px; 
}

.col-md-4 .card {
    background-color: #F5F5F5; 
    border-radius: 50px; 
}



/* Medical experts  section */

.medical-experts-section{
    background-color: #f0f8f8;
    padding: 20px;
}

.btn-success {
    background-color: #68B6B1;
    border-color: #68B6B1;
}

.btn-success:hover {
    background-color: #68B6B1; 
    border-color:#68B6B1;
}

.card {
    width: 100%; 
   
}


.left-align-container {
    text-align: left;
    width: 100%;
}


.left-align-text {
    display: inline-block; 
    margin-left: 30px; 
}


.left-align-paragraph {
    text-align: left;
}





.c-footer{
    background-color: #868686;
    padding-top: 35px;
}


.navbar-brand img {
    height: 75px;
}
.header-contact {
    text-align: right;
    margin-top: 10px;
}


.consultation-section{
    background-color: #f0f8f8;
    padding: 20px;
   
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: #343a40;
}

h2, .navbar-brand, .nav-link {
    font-family: 'Arial', sans-serif;
}

h3 {
    display: inline-block;
    border-style: solid; 
    border-color: #000000;
    border-width: 2px;
    padding: 10px 55px; 
    margin: 30px;
}
h4 {
    font-family: 'Kanit', sans-serif;
}


/* Header Styles */
.header-contact {
    text-align: right;
    margin-top: 10px;
}

.navbar-brand img {
    height: 75px;
}

.header {
    background-color: #e9ecef;
    padding: 15px 0;
}

header.container-fluid {
    background-color: #808080; 
    padding: 15px 0; 
}

.services-header {
    display: inline-block;
    border-style: solid; 
    border-color: #000000;
    border-width: 2px;
    padding: 10px 55px; 
    margin: 30px;
}


/* Main Image */
.main-image {
    width: 100%;
    height: auto;
}



.about-text {
    padding: 50px;
}
/* Center the entire row */
.row {
    display: flex;
    justify-content: center;
}



.container.my-5 {
    max-width: 900px; 
    margin: 0 auto; /* Center horizontally */
}

  
@font-face {
    font-family: 'Kanit';
    src: url('path/to/Kanit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

.row {
    margin-right: 0;
    margin-left: 0;
}


/* Modal styles */
.modal .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
}

.modal .modal-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 1rem;
}

.modal .modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal .modal-footer {
    border-top: 1px solid #dee2e6;
    text-align: right;
}